/*
add a light background color to the body
 create container for the app with a max width of 60%
 remove margin from list items
*/

body {
  background-color: #f4f4f4;
}
.blog-container {
  max-width: 60%;
  margin: 0 auto;
  padding: 0 1rem;
}

.blog-container ul {
  list-style: none;
  padding: 0;
}